body {
  background: linear-gradient(0deg, silver, white, skyblue);
  font-family: 'Trebuchet MS';
  padding: 1vh;
}

h1 { text-align: center; 
 border-radius: 2vw / 1vw;
 margin: 2.5vh 2vh; padding: 1vh 1vh; height: 5vh;
 width: 90vw; 
 position: relative; top: -5vh;
 background: linear-gradient(0deg, silver, white, silver);
 box-shadow: 5px 5px 7px grey;}

#map { height: 60vh; width: 42vw; margin: 6vh}

#courbe { position: absolute; left: 50%; top: 20vh; }